* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #BFE9FF;

}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.sun {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.small-cloud {
  position: absolute;
  left: 748px;
  top: 151px;
}

.medium-cloud {
  position: absolute;
  right: 17px;
  top: 139px;
}

.big-cloud {
  position: absolute;
  left: 80px;
  top: 330px;
  z-index: 2;
}


.small-white-cloud {
  position: absolute;
  top: 522px;
  left: 64px;
  z-index: 5;
}

.premed {
  position: absolute;
  left: 406px;
  top: 521px;
}

.small-white-cloud-1 {
  position: absolute;
  top: 532px;
  left: 535px;
  scale: 1.16;
  z-index: 5;
}