* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #bfe9ff;
}

.wrapper {
	position: relative;
	min-height: 100vh;
}

.sun {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;

	@media screen and (max-width: 375px) {
		display: none;
	}
}

.mob-sun {
	display: none;
	@media screen and (max-width: 375px) {
		display: block;
	}
}
.mob-stick {
	display: none;
	@media screen and (max-width: 375px) {
		position: absolute;
		display: block;
		top: 282px;
	}
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

.small-cloud {
	position: absolute;
	left: 748px;
	top: 151px;
	@media screen and (max-width: 375px) {
		top: 362px;
    left: -17px;
	}
}

.medium-cloud {
	position: absolute;
	right: 17px;
	top: 139px;
	@media screen and (max-width: 375px) {
		top: 330px;
		scale: 0.67;
		right: -40px;
	}
}

.big-cloud {
	position: absolute;
	left: 80px;
	top: 330px;
	z-index: 2;
	@media screen and (max-width: 375px) {
		display: none;
	}
}

.small-white-cloud {
	position: absolute;
	top: 522px;
	left: 64px;
	z-index: 5;
	@media screen and (max-width: 375px) {
		display: none;
	}
}

.premed {
	position: absolute;
	left: 406px;
	top: 521px;
}

.small-white-cloud-1 {
	position: absolute;
	top: 532px;
	left: 535px;
	scale: 1.16;
	z-index: 5;
}
